# Default ignored files
/../../War12.3./.idea/shelf/
/../../War12.3./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../War12.3./.idea/httpRequests/
# Datasource local storage ignored files
/../../War12.3./.idea/dataSources/
/../../War12.3./.idea/dataSources.local.xml
